node_modules
dist

*.log
logs
*.pid
*.seed
*.pid.lock

docker-compose.yml
.dockerignore

*.swp
.DS_Store
.cache
.idea
.vscode
*.tmp

.git
.gitignore

coverage
*.test.js
*.spec.js
*.test.ts
*.spec.ts

build/
npm-debug.log*
